<h1>Product</h1>
<div *ngIf="product" class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="https://dummyimage.com/200.png/09f/fff">
    </div>
    <div class="col-md-8">
      <h2>{{product.name}}</h2>
      <h3>{{product.description}}</h3>
    </div>
  </div>
  <div class="row">
    <h2>Offers</h2>
  </div>
  <div class="row">
     <div class="col-md-3">
       <ul *ngFor="let store of product.stores">
         <store [store]="store"></store>
       </ul>
     </div>
     <div class="col-md-1">
       <ul *ngFor="let offer of product.offers">
         <offer [offer]="offer"></offer>
       </ul>
     </div>
   </div>
   <button class="btn btn-default" (click)="goBack()">Back</button>
</div>
