<h1>Products</h1>
<input id="slider1" type="range" min="1" max="100" step="10" (onchange)="changePriceRange($event.target.value)"/>
from <input value={{min_price}} (keyup.enter) = "changePriceRangeMin($event.target.value)" />
to <input value={{max_price}} (keyup.enter) = "changePriceRangeMax($event.target.value)" />
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-xs-3">Image</th>
        <th class="col-xs-2">Name</th>
        <th class="col-xs-4">Description</th>
        <th class="col-xs-3">Prices</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | async">
        <td><img src="https://dummyimage.com/200.png/09f/fff"></td>
        <a [routerLink]="['/products', product.id]">{{product.name}}</a>
        <td>{{product.description}}</td>
        <td>from {{product.offers | range: 0}} to {{product.offers | range: 1}}</td>
      </tr>
    </tbody>
  </table>
</div>
